{**
* My Application layout template.
*
* @param string   $basePath web base path
* @param string   $robots   tell robots how to index the content of a page (optional)
* @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Language" content="cs"/>
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}Nette Application Skeleton{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
<div class="container">
	<div class="page-header">
		<h1>Vinotéka Olvi - Vína z Moravy v Poděbradech</h1>

		<p class="lead">Máme rádi dobrou a kvalitní kuchyni a k tomu patří i dobré a kvalitní víno.</p>

		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a n:href="Homepage:default">O nás</a></li>
				<li><a n:href="Homepage:static 'kontakty'">Adresa</a></li>
				<li><a n:href="Homepage:static, 'vino'">Ve víně je pravda</a></li>
				<li><a n:href="Homepage:static, 'oteviraci-doba'">Kdy máme otevřeno?</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			{include content|texy}
		</div>
	</div>
	<div class="panel-footer navbar-fixed-bottom">
		<p>&copy; {? echo date('Y')} <a href="{plink //default:}">Vinotéka Olvi.cz</a>.<br/>
			Stránka generována {? $date = date(time());}{$date|date:"d.m. Y, H:i:s"}
			za <?php echo round(\Nette\Diagnostics\Debugger::timer(), 4); ?>
			s</p>
	</div>

</div>
{block scripts}
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>
